.about-container {
    /* border: blue solid 3px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.me img {
    /* border: red solid 3px; */
    width: 15em;
    height: 15em;
    border-radius: 5000px;
    margin-bottom: 3em;
}

.about-content {
    background-image: url("../Work/paper_card0.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 4px rgba(56, 56, 56, 0.75);
    width: 30em;
    padding: 3.75em 4em 4em 4em;
}

body.dark-mode .about-content, body.dark-mode .me {
    filter: brightness(85%);
}

.about-content p {
    font-size: 20px;
    padding: 1em .75em 0 2.5em;
    margin: 0;
}


.about-content a {
    color: black;
    text-decoration: underline;
    
}


.nav-link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .about-content {
        width: 22em;
        padding: 2em 0em 4em 2em;
        margin: 0 2em;
    }
    .about-content p {
        font-size: 18px;
        padding: 1em 1.5em 0;
    }
}