.nav-bar {
    display: flex;
    padding: 1em 0em 1em 2em;
    background: rgba(0, 0, 0, 0.1);
    align-items: center;
}

body.dark-mode .nav-bar {
    filter: invert(1);
}
  

.nav-link {
    color: black;
    font-size: 18px;
    padding: 0 2em 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link.active {
    /* font-size: 36px; */
    padding: 0 2em 0 0;
    color: white;
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

.goright {
    margin-left: auto;
}



@media only screen and (max-width: 768px) {
    .nav-bar {
        padding: 1em 0em 1em 1em;
    }
    
    .nav-link {
        font-size: 16px;
        padding: 0 1em 0 0;
    }

    .nav-link.active {
        padding: 0 1em 0 0;
    }
}